html,
body {
    height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

.main-content {
    position: relative;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
}

.main-image {
    position: relative;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-spiner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.alert {
    position: absolute;
    right: 40px;
    z-index: 5;
    max-width: 340px;
}

.content {
    padding: 20px;
    background: #fff;
    min-height: 100vh;
}

.content--login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    border: 1px solid #e2e2e2;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aside-menu li:nth-last-child(2) {
    margin-top: auto;
}

.image-card {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-card img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.image-check {
    display: block;
    margin-bottom: 16px;
}

.image-check__input {
    display: none;
}

.image-check__input:checked + .image-card {
    opacity: 0.5;
}

.description {
    display: block;
    margin-bottom: 30px;
}