doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        block title
        link(rel='stylesheet', href='/admin/stylesheet/uikit.min.css')
    body.uk-flex.uk-flex-column(uk-height-viewport='')
        section.uk-flex.uk-flex-center.uk-flex-middle(uk-height-viewport='')
            block content
        script(src='/admin/javascript/uikit.min.js')
        script(src='/admin/javascript/uikit-icons.min.js')