<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet' href='/admin/stylesheet/dashboard.min.css')
    block Login
  body
    #root
      div(style={
        'position': 'absolute',
        'top': '50%',
        'left': '50%',
        'transform': 'translate(-50%)'
      }) Loading...
    script(src='/admin/javascript/vendor.bundle.js')
    script(src='/admin/javascript/login.bundle.js')