extends layout

block title
    title= title

block content
    .uk-card.uk-card-default.uk-card-body.uk-width-1-3
        h3.uk-card-title.uk-text-center itHobbies Dashboard
        form(action='login' method='post')
            fieldset.uk-fieldset
                .uk-margin
                    input.uk-input(type='text', name='username', placeholder='Username')
                .uk-margin
                    input.uk-input(type='password', name='password' placeholder='Password')
                .uk-margin.uk-text-right
                    button.uk-button.uk-button-primary Login

