extends layout

include components/title

block title
    title!= title

block content
    +title('Mail')
    div
        table.uk-table.uk-table-justify.uk-table-divider
            thead
                tr
                    th.uk-width-small Info
                    th Message
                    th Actions
            tbody
                tr
                    td
                        ul.uk-list
                            li 28/02/19
                            li Name Surname
                            li
                                a.uk-link-muted(href='hello@example.com') hello@example.com
                    td
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    td
                        .uk-grid-small(uk-grid='')
                            .uk-width-1-2
                                a.uk-icon-button(href='hello@example.com', uk-icon='reply')
                            .uk-width-1-2
                                a.uk-icon-button(href='#', uk-icon='trash')

        .uk-margin-auto-top
            include components/pagination