extends layout

include components/title
include components/no-result
include modules/post-table

block title
    title!= title

block content
    if posts.length
        +title(`<span>Found by:</span> <strong>${string}</strong>`)
        div
            +postTable(posts)
    else
        +noResult()

    .uk-margin-auto-top
        include components/pagination