extends layout

include components/title

block title
    title!= title

block content
    +title('User')
    div
        .uk-width-1-2
            form.uk-form-stacked
                fieldset.uk-fieldset
                    .uk-margin
                        label.uk-form-label(for='form-stacked-text') Name
                        .uk-inline.uk-width-1-1
                            input#form-stacked-text.uk-input(type='text')
                    .uk-margin
                        label.uk-form-label(for='form-stacked-text') Email
                        .uk-inline.uk-width-1-1
                            input#form-stacked-text.uk-input(type='email')
                    .uk-margin
                        label.uk-form-label(for='form-stacked-text') Password
                        .uk-inline.uk-width-1-1
                            input#form-stacked-text.uk-input(type='password')
                    .uk-margin
                        label.uk-form-label(for='form-stacked-text') New Password
                        .uk-inline.uk-width-1-1
                            input#form-stacked-text.uk-input(type='password')
                    .uk-margin.uk-text-right
                        button.uk-button.uk-button-primary Save