html,
body {
    height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

.search__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.uk-select option[value=''] {
    display: none;
}