include components/icon

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        block title
        block snippets
        link(rel="stylesheet", href="/stylesheet/project.css")
    body

        include modules/header
        main.main
            block content
        include modules/footer
        include modules/modals

        script(src="/javascript/library.js")
        script(src="/javascript/project.js")