mixin socials()
    ul.social-list&attributes(attributes)
        li.social-list__item
            a.social-list__link(href='https://twitter.com/IT_Hobbies' target='_blank')
                +icon('twitter')(class='social-list__icon')
        //li.social-list__item
        //    a.social-list__link(href='#')
        //        +icon('facebook')(class='social-list__icon')
        li.social-list__item
            a.social-list__link(href='https://www.youtube.com/channel/UCXE4vvggmw3gpu59D-QSLjA' target='_blank')
                +icon('youtube')(class='social-list__icon')