.md-form textarea.md-textarea:focus:not([readonly])+label,
.md-form input:focus:not([readonly])+label {
  color: $Dark !important;
}

.md-form textarea.md-textarea:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 $Dark !important;
  border-bottom: 1px solid $Dark !important;
}

.md-form textarea~label.active {
  color: #757575;
}

.md-form textarea.md-textarea {
  padding: .3rem 0 .55rem;
}

.form-control {
  height: calc(3rem + 2px);
}