header
    nav.uk-navbar-container.uk-container.uk-flex-middle.uk-width-1-1(uk-navbar='mode: click')
        .uk-margin-small-right.uk-flex-1
            form(method='GET' action='/admin/search').search.uk-search.uk-search-default.uk-background-default.uk-width-1-1
                a(href='', uk-search-icon='').uk-search-icon-flip
                input.uk-search-input(type='text', name='search' placeholder='Search...')
        .uk-navbar-right
            ul.uk-navbar-nav
                li
                    a(href='#')
                        span.uk-margin-small-right(uk-icon='plus')
                        | Add
                    .uk-navbar-dropdown
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li
                                a.uk-margin-small-right(href='/admin/create-post') Post
                            li
                                a.uk-margin-small-right(href='#', uk-toggle='target: #add-category') Category
                li
                    a(href='/', target='_blank')
                        span.uk-margin-small-right(uk-icon='world')
                        | GoFront
                li
                    a(href='/logout')
                        span.uk-margin-small-right(uk-icon='sign-out')
                        | Logout