
#add-category(uk-modal='')
    .uk-modal-dialog.uk-modal-body
        h2.uk-modal-title Add Category
        form(action='create-category' method="POST")
            .uk-margin
                input.uk-input(type='text', name='name' placeholder='Name...')
            .uk-margin
                input.uk-input(type='text', name='slug' placeholder='Slug...')
            p.uk-text-right
                button.uk-button.uk-button-default.uk-modal-close.uk-margin-small-right(type='button') Cancel
                button.uk-button.uk-button-primary(type='submit') Save