
aside.uk-width-1-5.uk-background-secondary.uk-light.uk-padding.uk-panel
    ul.uk-nav-default.uk-nav-parent-icon(uk-nav='')
        li.uk-active
            a(href='/admin')
                span(uk-icon="home").uk-margin-small-right
                | Dashboard
        li.uk-parent
            a(href='#')
                span(uk-icon="album").uk-margin-small-right
                | Blog
            ul.uk-nav-sub
                li
                    a(href='/admin/categories') Categories
                li
                    a(href='/admin/posts') Posts
        li
            a(href='#')
                span(uk-icon="image").uk-margin-small-right
                | Files