if  paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
    ul.uk-pagination.uk-flex-center(uk-margin='')
        if paginate.hasPreviousPages
            li
                a(href=paginate.href(true))
                    span(uk-pagination-previous='')
        if pages
            each page in pages
                li
                    a(href=page.url)= page.number
        if paginate.hasNextPages(pageCount)
            li
                a(href=paginate.href())
                    span(uk-pagination-next='')